/* Обнуление отступов по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Стиль для body */
  body {
    font-family: 'Gill Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f4f4f4;
  }
  
  /* Стиль для заголовка сайта */
  .site-header {
    position: fixed; /* Фиксируем заголовок в верхней части страницы */
    top: 20px; /* Отступ от верхней части */
    left: 50%;
    transform: translateX(-50%); /* Центрирование по горизонтали */
    text-align: center;
  }
  
  .site-header h1 {
    font-size: 48px; /* Крупный размер шрифта */
    color: #333; /* Цвет текста */
    font-weight: bold;
  }
  
  /* Стиль для основного контента */
  main {
    margin-top: 100px; /* Чтобы контент был ниже заголовка */
    text-align: center;
    font-size: 20px;
  }
  